<div clss="col-md-12">
	<div class="row">
		<div class='form-group'>
			<div class="page-header">
			  <h1><span>REGISTRO DE EMPRESAS </span><small>Ingrese los siguientes datos</small></h1>
			</div>
			<%= form_tag({controller: :registro, action: :create_empresa}, id: "empresaWizard", class: "form-horizontal", role: "form") do %>
				<section class="step" data-step-title="Datos Empresa">
					<div class="form-group">
						<label class='control-label col-sm-2 '>Nombre:</label>
						<div class="col-sm-10">
							<%= text_field_tag :empresa_nombre, @empresa.nombre , class: 'form-control', required: true %>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>Giro de la empresa:</label>
						<div class="col-sm-10">
							<%= text_field_tag :empresa_giro, @empresa.giro , class: 'form-control'%>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>Número de empleados:</label>
						<div class="col-sm-10">
							<%= text_field_tag :empresa_no_empleados, @empresa.no_empleados, class: 'form-control' %>
						</div>
					</div>
				
					<div class="form-group">
						<label class='control-label col-sm-2 '>Persona Fiscal:</label>
						<div class="col-sm-10">
							<%= text_field_tag :empresa_persona_fiscal, @empresa.persona_fiscal, class: 'form-control'  %>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>Teléfono:</label>
						<div class="col-sm-10">
							<%= text_field_tag :contacto_tel, @empresa.contacto.tel, class: 'form-control'  %>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>Email: </label>
						<div class="col-sm-10">
							<%= text_field_tag :contacto_email, @empresa.contacto.email, class: 'form-control'  %>
		   				</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>Pagina web: </label>
						<div class="col-sm-10">
							<%= text_field_tag :contacto_pag_web, @empresa.contacto.pag_web,class: 'form-control' %>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>Calle: </label>
						<div class="col-sm-10">
							<%= text_field_tag :direccion_calle, @empresa.contacto.direccion.calle, class: 'form-control'  %>
					    </div>
					</div>
					
					<div class="form-group">
						<label class='control-label col-sm-2 '>
							Colonia: </label>
						<div class="col-sm-10">
							<%= text_field_tag :direccion_colonia,@empresa.contacto.direccion.colonia, class: 'form-control'  %>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>
							Codigo Postal: </label>
						<div class="col-sm-10">
							<%= text_field_tag :direccion_cp, @empresa.contacto.direccion.cp, class: 'form-control'  %>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>
							País: </label>
						<div class="col-sm-10">
								<%= select_tag :direccion_pais, options_from_collection_for_select(Pais.all, "id", "nombre"), prompt: "Elige un país" , class: "form-control" %>
								<!-- <option value="id">"nombre"</option> -->
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>
							Estado: </label>
						<div class="col-sm-10">
							<%= select_tag :direccion_estado, options_for_select([]), prompt: "Elige un estado" , class: "form-control"%>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>
							Municipio: </label>
						<div class="col-sm-10">
							<%= select_tag :direccion_municipio, options_for_select([]), prompt: "Elige un municipio", class: "form-control" %>
						</div>
					</div>
				</section>
				<!-- segundo formulario -->

				<section class="step" data-step-title="Datos del Representante">
					<div class="form-group">
						<label class='control-label col-sm-2 '>
							Nombre: </label>
						<div class="col-sm-10">
							<%= text_field_tag :representante_nombre, @persona.nombre , class: 'form-control' %>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>
							Apellido paterno: </label>
						<div class="col-sm-10">
							<%= text_field_tag :representante_apellido_pat, @persona.apellido_pat , class: 'form-control' %>
						</div>
					</div>


					<div class="form-group">
						<label class='control-label col-sm-2 '>
							Apellido materno: </label>
						<div class="col-sm-10">
							<%= text_field_tag :representante_apellido_mat, @persona.apellido_mat , class: 'form-control' %>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>
							Puesto que desempeña: </label>
						<div class="col-sm-10">
							<%= text_field_tag :representante_puesto, @representante.puesto  , class: 'form-control'%>
						</div>
					</div>


					<div class="form-group">
						<label class='control-label col-sm-2 '>
							Teléfono/Celular: </label>
						<div class="col-sm-10">
							<%= text_field_tag :representante_tel, @representante.contacto.tel , class: 'form-control' %>
						</div>
					</div>

					<div class="form-group">
						<label class='control-label col-sm-2 '>
							E-mail: </label>
						<div class="col-sm-10">
							<%= text_field_tag :representante_email, @representante.contacto.email , class: 'form-control' %>
						</div>
					</div>
				</section>
			<% end %>
		</div>
	</div>
	<!-- form_for -->
</div>